@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto Slab", cursive;
  font-weight: 700;
  font-style: normal;
}

.el-loading-text {
  color: #2262fb !important;
}
